:root {
  /* Neutral Color */
  --neutral-900: #0a0a0a;
  --neutral-700: #171719;
  --neutral-600: #202022;
  --neutral-500: #2e2e2e;
  --neutral-400: #3d3d3d;
  --neutral-300: #454547;
  --neutral-200: #9d9d9d;
  --neutral-100: #c6c6c6;
  --neutral-50: #ffffff;

  /* Lime */
  --lime-500: #cef739;
  --lime-800: #283300;

  /* Green */
  --green-500: #42eb05;

  /* Red */
  --red-500: #ff4141;
}

body{
    background: var(--neutral-900);
    color: var(--neutral-50);
}

.bg-section{
    background: var(--neutral-700);
}